 <!--花之物语-->
    <div class="container flower-tips clearfix">
        <div class="flowerh pull-left">
            <h3>ANIMAL TIPS</h3>
            <div><span>萌宠宝贝</span><em></em></div>
            <a href="{% url 'animal:a_list' %}">查看更多</a>
            <p>宠物是我们的朋友,能给我们带来欢乐的同时,不要忘了,更多的了解他。</p>
        </div>
        <div class="flowertips-con pull-right">
            <div class="flower-con">
                <ul>
                    <li>
                        <div class="flower-ch">
                            <span>06-12</span><a href="animal_show.html">时尚广告片中的自然花艺某某鲜花测试文字</a>
                            <div class="line"></div>
                        </div>
                        <p>2016年6月6日，第十届虎啸国际高峰论坛暨第七届虎啸奖颁奖盛典在上海隆重举行。作为商业传播领域最具权威性、前瞻性及创新性的大型赛事活动之一，虎啸奖至今已成功举办... </p>
                        <a class="gengduo" href="{% url 'animal:a_list' %}">Read more</a>
                    </li>
                    <li>
                        <div class="flower-ch">
                            <span>06-12</span><a href="animal_show.html">鲜花测试文字母亲节之与妈妈的美丽“花约”</a>
                            <div class="line"></div>
                        </div>
                        <p>作为商业传播领域最具权威性、前瞻性及创新性的大型赛事活动之一，虎啸奖至今已成功举办七届。在本届颁奖盛典上，某某科技有限公司创始人·总裁赵旭隆先生荣膺“年度人物大奖” </p>
                        <a class="gengduo" href="animal_show.html">Read more</a>
                    </li>
                    <li class="last">
                        <div class="flower-ch">
                            <span>06-12</span><a href="animal_show.html">时尚广告片中的自然花艺某某鲜花测试文字</a>
                            <div class="line"></div>
                        </div>
                        <p>2016年6月6日，第十届虎啸国际高峰论坛暨第七届虎啸奖颁奖盛典在上海隆重举行。作为商业传播领域最具权威性、前瞻性及创新性的大型赛事活动之一，虎啸奖至今已成功举办... </p>
                        <a class="gengduo" href="animal_show.html">Read more</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div