{% extends 'base.html' %}
{% load OurTag %}
	<!--banner-->
	<section class="banner nybanner">
       {% block banner %}
            <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
            <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
            <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
        {% endblock %}

    </section>
	


{% block content %}


<!--内页内容区域-->
<div class="container ny-wrap">
	<div class="pro-title clearfix">
		<span class="pull-left">分享日常</span>
		<p class="pull-right">
			<a class="active" href="case.html"></a><em>|</em>
			<a href="{% url 'daylife:daydetail_add' %}?id={{ id }}">继续分享</a>
{#            这是详情id#}
		</p>
	</div>
	<div class="container caseshow">
		<div class="fshow-title">
			<h1>{{ life.title }}</h1>
			<div class="date">
				<span>发布时间：{{life.date }}</span> &nbsp;&nbsp;<a style="font-size: 10px" href="{% url 'daylife:daylife_delete' %}?id={{ id }}">删除</a>
			</div>
		</div>
		<div class="fshow-con">
	<div class="fshowimg clearfix">
        <p> {{ story.story }}</p>
				<div class="pic"><img src="/static/{{ story.pic }}" class="vcenter" alt="" /></div>
			</div>
		</div>
		<!--上下篇-->
		<div class="container up-down">
			<a href="#"><b>上一篇：</b>无</a>
			<a href="#"><b>下一篇：</b>因为有你，一切珍好—— 某某五月员工生日会</a>
		</div>
	</div>
	
	
	<!--相关案例-->
	<div class="container case-wrap sycase xgcase xgcp">
		<div class="xgcp-title">
			<h3>还有一些日常</h3>
			<p>We hope that through the flower box of love, affection and friendship express intuitive, needless to say, everything is in the middle of the flower box. </p>
		</div>
		<div class="sycase-wrap case-con xgcase-con">
			<ul class="clearfix">
                {% for d in d_list|limit_2 %}
                    <li class="last">
					    <div class="pic"><a href="{% url 'daylife:daydetail' %}?id={{ d.id }}"><img src="/static/{{ d.logo }}" class="vcenter"  alt="" /></a></div>
					    <a href="{% url 'daylife:daydetail' %}?id={{ d.id }}" class="case-zzch">
					    	{{ d.title }}
					    </a>
					    <a href="{% url 'daylife:daydetail' %}?id={{ d.id }}" class="case-zzc">
					    	<h3>{{ d.date }}</h3>
					    	<p>{{ d.detail }}</p>
					    </a>
				    </li>
                {% endfor %}
			</ul>
		</div>
	</div>
	
	
</div>


{% endblock %}

