{% extends 'base.html' %}

{% block banner %}
    <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
    <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
    <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
{% endblock %}
{% block content %}

    <!--移动端  Mmenu-->
    <nav id="mmenu">
        <ul>
            <li><a href="">English</a></li>
            <li><a href="index.html">首 页</a></li>
            <li><a href="brand.html">品牌简介</a>
                <ul>
                    <li><a href="brand.html">品牌简介</a></li>
                    <li><a href="">企业文化</a></li>
                    <li><a href="honor.html">荣誉资质</a></li>
                </ul>
            </li>
            <li><a href="product.html">产品中心</a>
                <ul>
                    <li><a href="">婚礼花艺</a>
                        <ul>
                            <li><a href="">求婚必备</a></li>
                            <li><a href="">情人节专属</a></li>
                            <li><a href="">其他鲜花</a></li>
                        </ul>
                    </li>
                    <li><a href="product.html">爱情鲜花</a>
                        <ul>
                            <li><a href="">求婚必备</a></li>
                            <li><a href="product.html">情人节专属</a></li>
                            <li><a href="">其他鲜花</a></li>
                        </ul>
                    </li>
                    <li><a href="">长辈鲜花</a>
                        <ul>
                            <li><a href="">求婚必备</a></li>
                            <li><a href="">情人节专属</a></li>
                            <li><a href="">其他鲜花</a></li>
                        </ul>
                    </li>

                </ul>
            </li>
            <li><a href="case.html">经典案例</a>
                <ul>
                    <li><a href="case.html">经典案例</a></li>
                    <li><a href="">新增分类</a></li>
                </ul>
            </li>
            <li><a href="flower.html">花之物语</a>
                <ul>
                    <li><a href="flower.html">花之物语</a></li>
                    <li><a href="">养花知识</a></li>
                </ul>
            </li>
            <li><a href="contact.html">联系我们</a>
                <ul>
                    <li><a href="contact.html">联系我们</a></li>
                    <li><a href="message.html">在线留言</a></li>
                    <li><a href="job.html">人才招聘</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    </div>

    <!--内页内容区域-->
    <div class="container ny-wrap">
        <div class="pro-title clearfix">
            <span class="pull-left">信息详情</span>
            <p class="pull-right">
                {#			<a href="contact.html">联系我们</a><em>|</em>#}
                {#			<a class="active" href="message.html">在线留言</a><em>|</em>#}
                {#			<a href="job.html">人才招聘</a>#}
            </p>
        </div>
        <div class="container message">
            <div class="messageh">
                <h2>There is doubt through the below <br/>message to consult us! </h2>
                <span></span>
            </div>
            <div class="message-con clearfix">
                <div class="mcon-left pic pull-left"><img src="/static/images/bg1.jpg" class="vcenter" alt=""/>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <div class="mcon-right pull-right">
                        <label><span>date</span><select name="pid" id="">
                            {% for story in story_list%}
                                <option value="{{ story.id }}">{{ story.date }}</option>
                            {% endfor %}
                        </select></label>
                         <br>
                         <label><span>what's the detail</span><textarea  name="title" id="title" placeholder="说说今天都发生了什么吧----{{ dstory }}" ></textarea></label>
                         <br>
                        <label><span>pictures</span><input type="file" name="picture" id="picture" multiple='multiple' ></label>
                         <br>
                        <label><input type="submit" class="msub" value="提交"/></label>
                    </div>

                </form>
            </div>
        </div>


        <!--花之物语-->
        <div class="container flower-tips clearfix">
            <div class="flowerh pull-left">
                <h3>FLOWER TIPS</h3>
                <div><span>花之物语</span><em></em></div>
                <a href="flower.html">查看更多</a>
                <p>我们希望，通过花盒把爱情，亲情以及友情直观的表达出来，无需多言，一切尽在花盒当中。</p>
            </div>
            <div class="flowertips-con pull-right">
                <div class="flower-con">
                    <ul>
                        <li>
                            <div class="flower-ch">
                                <span>06-12</span><a href="flower_show.html">时尚广告片中的自然花艺某某鲜花测试文字</a>
                                <div class="line"></div>
                            </div>
                            <p>2016年6月6日，第十届虎啸国际高峰论坛暨第七届虎啸奖颁奖盛典在上海隆重举行。作为商业传播领域最具权威性、前瞻性及创新性的大型赛事活动之一，虎啸奖至今已成功举办... </p>
                            <a class="gengduo" href="flower_show.html">Read more</a>
                        </li>
                        <li>
                            <div class="flower-ch">
                                <span>06-12</span><a href="flower_show.html">鲜花测试文字母亲节之与妈妈的美丽“花约”</a>
                                <div class="line"></div>
                            </div>
                            <p>作为商业传播领域最具权威性、前瞻性及创新性的大型赛事活动之一，虎啸奖至今已成功举办七届。在本届颁奖盛典上，某某科技有限公司创始人·总裁赵旭隆先生荣膺“年度人物大奖” </p>
                            <a class="gengduo" href="flower_show.html">Read more</a>
                        </li>
                        <li class="last">
                            <div class="flower-ch">
                                <span>06-12</span><a href="flower_show.html">时尚广告片中的自然花艺某某鲜花测试文字</a>
                                <div class="line"></div>
                            </div>
                            <p>2016年6月6日，第十届虎啸国际高峰论坛暨第七届虎啸奖颁奖盛典在上海隆重举行。作为商业传播领域最具权威性、前瞻性及创新性的大型赛事活动之一，虎啸奖至今已成功举办... </p>
                            <a class="gengduo" href="flower_show.html">Read more</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

