{% extends 'base.html' %}
			
	<!--banner-->
	<section class="banner nybanner">
        {% block banner %}
            <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
            <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
            <div><a href=""><img style="height: 400px" src="/static/images/banner12.jpg" alt=""></a></div>
        {% endblock %}
    </section>

{% block content %}
<!--内页内容区域-->
<div class="container ny-wrap">
	<div class="pro-title clearfix">
		<span class="pull-left">日常分享</span>
		<p class="pull-right">
			<a class="active" href="case.html"></a><em>|</em>
			<a href="{% url 'daylife:daylife_add' %}">新增日常</a>
		</p>
	</div>
	<div class="container case-wrap sycase case">
		<div class="sycase-wrap case-con clearfix">
			<ul class="clearfix">
                {% for d in d_list %}
                    <li class="last">
					    <div class="pic"><a href="{% url 'daylife:daydetail' %}?id={{ d.id }}"><img src="/static/{{ d.logo }}" class="vcenter"  alt="" /></a></div>
					    <a href="{% url 'daylife:daydetail' %}?id={{ d.id }}" class="case-zzch">
					    	{{ d.title }}
					    </a>
					    <a href="{% url 'daylife:daydetail' %}?id={{ d.id }}" class="case-zzc">
					    	<h3>{{ d.date }}</h3>
					    	<p>{{ d.detail }}</p>
					    </a>
				    </li>
                {% endfor %}

			</ul>
			<div class="page">
				<a href="#">首页</a>
				<a class="prev" href="#"><img src="/static/images/pre-bg.png" alt="" /> 上一页</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a class="next" href="#">下一页 <img src="/static/images/next-bg.png" alt="" /></a>
				<a href="#">尾页</a>
			</div>
		</div>
	</div>
	
	
	

	
	
</div>

{% endblock %}

